<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pacanele wannabe app</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<form method="POST" action="/search" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
		<h1>Cauta sefule ceva</h1>
		<label id="search-label" for="search-bar">Search:</label>
		<input type="text" id="search-bar" name="query" placeholder="Enter keywords">
		<button id="search-button" type="submit">Search</button>
	</form>
</body>
</html>